*.suo
*.user
*.exe
*.pdb
*.manifest
*.cache
*.opensdf
*.tlog
*.log
_ReSharper.*
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release
bin
DiunsaSCM.API/bin
DiunsaSCM.Core/bin
DiunsaSCM.Data/bin
DiunsaSCM.Service/bin
DiunsaSCM.Utils/bin
DiunsaSCMInterfaceERP.API/bin
DiunsaSCMInterfaceERP.Core/bin
DiunsaSCMInterfaceERP.Data/bin
DiunsaSCMInterfaceERP.Service/bin
obj
DiunsaSCM.API/obj
DiunsaSCM.Core/obj
DiunsaSCM.Data/obj
DiunsaSCM.Service/obj
DiunsaSCM.Utils/obj
DiunsaSCMInterfaceERP.API/obj
DiunsaSCMInterfaceERP.Core/obj
DiunsaSCMInterfaceERP.Data/obj
DiunsaSCMInterfaceERP.Service/obj
packages
